[D-BUS Service]
Name=org.gtk.GDBus.Examples.ObjectManager
Exec=/Users/alanng/work/cpp/kinesis-video-native-build/downloads/glib-2.54.2/gio/tests/gdbus-example-objectmanager-server
